<app-header />
<main>
  <div id="dashboard">
    <app-dashboard-item [image]="{src: 'status.png', alt: 'Símbolo de sinal'}" title="Status do Servidor">
      <app-server-status />
    </app-dashboard-item>

    <app-dashboard-item [image]="{src: 'globe.png', alt: 'Um globo'}" title="Tráfego">
      <app-traffic />
    </app-dashboard-item>

    <app-dashboard-item [image]="{src: 'list.png', alt: 'Lista de Items'}" title="Tíquetes de suporte">
      <app-tickets />
    </app-dashboard-item>
  </div>
</main>
